
<h1>Users#show</h1>
<p>Find me in app/views/timerposts/show.html.erb</p>

<aside class="col-md-4">
  <h3><%= @timerpost.title %></h3>
  <section class="user_info">
    <span><%= @timerpost.hour %></span>
    <span><%= @timerpost.minutes %></span>
    <span><%= @timerpost.second %></span>
    <span><%= @timerpost.memo %></span>
  </section><!--  .user_info -->
</aside><!--  .col-md-4 -->
