<% provide(:title, @user.name) %>

<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<aside class="col-md-4">
  <section class="user_info">
    <h1><%= @user.name %></h1>
  </section><!--  .user_info -->
</aside><!--  .col-md-4 -->

<div class="col-md-8">
  <% if @user.timerposts.any? %>
  <h3>Timerpost(<%= @user.timerposts.count %>)</h3><!--  .micropost -->
  <ol class="timerposts">
    <%= render @timerposts %>
  </ol><!--  .microposts -->
  <%= will_paginate @timerposts %>
  <% end %>
  <%= link_to "タイマーを作る", root_path %>
</div><!--  .col-md-8 -->
